<?xml version="1.0"?>
<config>
	<modules>
		<Typogento_Authentication>
			<version>0.1.0</version>
		</Typogento_Authentication>
	</modules>
	<global>
		<events>
			<customer_login>
				<observers>
					<typogento_core>
						<type>singleton</type>
						<class>Typogento_Authentication_Model_Observer</class>
						<method>customerLogin</method>
					</typogento_core>
				</observers>
			</customer_login>
			<customer_logout>
				<observers>
					<typogento_core>
						<type>singleton</type>
						<class>Typogento_Authentication_Model_Observer</class>
						<method>customerLogout</method>
					</typogento_core>
				</observers>
			</customer_logout>
		</events>
		<models>
			<typogento_replication>
				<rewrite>
					<typo3_frontend_user>Typogento_Authentication_Model_Typo3_Frontend_User</typo3_frontend_user>
				</rewrite>
			</typogento_replication>
			<customer>
				<rewrite>
					<customer>Typogento_Authentication_Model_Customer</customer>
				</rewrite>
			</customer>
		</models>
	</global>
</config>