<T3DataStructure>
	<meta>
		<langDisable>1</langDisable> 
		<!--  <langChildren>1</langChildren>!-->
	</meta>
	<sheets>
		<display>
			<ROOT>
				<TCEforms>
					<sheetTitle>LLL:EXT:typogento/Resources/Private/Language/locallang_db.xml:flexform.sheet_display</sheetTitle>
				</TCEforms>
				<type>array</type>
				<el>
					<settings.display.type>
						<TCEforms>
							<label>LLL:EXT:typogento/Resources/Private/Language/locallang_db.xml:flexform.label_type</label>
							<section>1</section>
							<onChange>reload</onChange>
							<config>
								<type>select</type>
								<maxitems>1</maxitems>
								<size>1</size>
								<items type="array">
									<numIndex index="0" type="array">
										<numIndex index="0">LLL:EXT:typogento/Resources/Private/Language/locallang_db.xml:flexform.label_type.0</numIndex>
										<numIndex index="1"></numIndex>
									</numIndex>
									<numIndex index="1" type="array">
										<numIndex index="0">LLL:EXT:typogento/Resources/Private/Language/locallang_db.xml:flexform.label_type.1</numIndex>
										<numIndex index="1">PRODUCT</numIndex>
									</numIndex>
									<numIndex index="2" type="array">
										<numIndex index="0">LLL:EXT:typogento/Resources/Private/Language/locallang_db.xml:flexform.label_type.2</numIndex>
										<numIndex index="1">CATEGORY</numIndex>
									</numIndex>
									<numIndex index="3" type="array">
										<numIndex index="0">LLL:EXT:typogento/Resources/Private/Language/locallang_db.xml:flexform.label_type.3</numIndex>
										<numIndex index="1">USER</numIndex>
									</numIndex>
								</items>
							</config>
						</TCEforms>
					</settings.display.type>
					<settings.display.product>
						<TCEforms>
							<label>LLL:EXT:typogento/Resources/Private/Language/locallang_db.xml:flexform.label_product_list</label>
							<displayCond>FIELD:settings.display.type:=:PRODUCT</displayCond>
							<config>
								<type>select</type>
								<itemsProcFunc>Tx\Typogento\Hook\ItemsProcFuncHook->getCatalogProducts</itemsProcFunc>
								<maxitems>1</maxitems>
								<size>15</size>
							</config>
						</TCEforms>
					</settings.display.product>
					<settings.display.category>
						<TCEforms>
							<label>LLL:EXT:typogento/Resources/Private/Language/locallang_db.xml:flexform.label_category_list</label>
							<displayCond>FIELD:settings.display.type:=:CATEGORY</displayCond>
							<config>
								<type>select</type>
								<itemsProcFunc>Tx\Typogento\Hook\ItemsProcFuncHook->getCatalogCategories</itemsProcFunc>
								<maxitems>1</maxitems>
								<size>15</size>
							</config>
						</TCEforms>
					</settings.display.category>
					<settings.display.route>
						<TCEforms>
							<label>LLL:EXT:typogento/Resources/Private/Language/locallang_db.xml:flexform.label_route</label>
							<displayCond>FIELD:settings.display.type:=:USER</displayCond>
							<onChange>reload</onChange>
							<config>
								<type>select</type>
								<itemsProcFunc>Tx\Typogento\Hook\ItemsProcFuncHook->getSystemModules</itemsProcFunc>
								<maxitems>1</maxitems>
								<size>1</size>
							</config>
						</TCEforms>
					</settings.display.route>
					<settings.display.controller>
						<TCEforms>
							<label>LLL:EXT:typogento/Resources/Private/Language/locallang_db.xml:flexform.label_controller</label>
							<displayCond>FIELD:settings.display.type:=:USER</displayCond>
							<onChange>reload</onChange>
							<config>
								<type>select</type>
								<itemsProcFunc>Tx\Typogento\Hook\ItemsProcFuncHook->getSystemControllers</itemsProcFunc>
								<maxitems>1</maxitems>
								<size>1</size>
							</config>
						</TCEforms>
					</settings.display.controller>
					<settings.display.action>
						<TCEforms>
							<label>LLL:EXT:typogento/Resources/Private/Language/locallang_db.xml:flexform.label_action</label>
							<displayCond>FIELD:settings.display.type:=:USER</displayCond>
							<config>
								<type>select</type>
								<itemsProcFunc>Tx\Typogento\Hook\ItemsProcFuncHook->getSystemActions</itemsProcFunc>
								<maxitems>1</maxitems>
								<size>1</size>
							</config>
						</TCEforms>
					</settings.display.action>
				</el>
			</ROOT>
		</display>
		<cache>
			<ROOT>
				<TCEforms>
					<sheetTitle>LLL:EXT:typogento/Resources/Private/Language/locallang_db.xml:flexform.sheet_cache</sheetTitle>
				</TCEforms>
				<type>array</type>
				<el>
					<settings.cache.disable>
						<TCEforms>
							<label>LLL:EXT:typogento/Resources/Private/Language/locallang_db.xml:flexform.label_disable</label>
							<config>
								<type>check</type>
							</config>
						</TCEforms>
					</settings.cache.disable>
				</el>
			</ROOT>
		</cache>
	</sheets>
</T3DataStructure>