<?xml version="1.0"?>
<config>
	<modules>
		<Typogento_Core>
			<version>0.5.1</version>
		</Typogento_Core>
	</modules>
	<global>
		<helpers>
			<typogento>
				<class>Typogento_Core_Helper</class>
			</typogento>
		</helpers>
		<events>
			<admin_system_config_changed_section_typogento>
				<observers>
					<typogento>
						<type>singleton</type>
						<class>Typogento_Core_Model_Observer</class>
						<method>adminSystemConfigChanged</method>
					</typogento>
				</observers>
			</admin_system_config_changed_section_typogento>
			<typogento_replication_manager_initialize>
				<observers>
					<typogento>
						<type>singleton</type>
						<class>Typogento_Core_Model_Observer</class>
						<method>replicationManagerInitialize</method>
					</typogento>
				</observers>
			</typogento_replication_manager_initialize>
			<customer_save_after>
				<observers>
					<typogento>
						<type>singleton</type>
						<class>Typogento_Core_Model_Observer</class>
						<method>customerSaveAfter</method>
					</typogento>
				</observers>
			</customer_save_after>
			<customer_address_save_after>
				<observers>
					<typogento>
						<type>singleton</type>
						<class>Typogento_Core_Model_Observer</class>
						<method>customerAddressSaveAfter</method>
					</typogento>
				</observers>
			</customer_address_save_after>
			<customer_login>
				<observers>
					<typogento>
						<type>singleton</type>
						<class>Typogento_Core_Model_Observer</class>
						<method>customerLogin</method>
					</typogento>
				</observers>
			</customer_login>
			<customer_logout>
				<observers>
					<typogento>
						<type>singleton</type>
						<class>Typogento_Core_Model_Observer</class>
						<method>customerLogout</method>
					</typogento>
				</observers>
			</customer_logout>
			<controller_action_predispatch>
				<observers>
					<typogento>
						<type>singleton</type>
						<class>Typogento_Core_Model_Observer</class>
						<method>controllerActionPredispatch</method>
					</typogento>
				</observers>
			</controller_action_predispatch>
			<customer_group_save_before>
				<observers>
					<typogento>
						<type>singleton</type>
						<class>Typogento_Core_Model_Observer</class>
						<method>customerGroupSaveBefore</method>
					</typogento>
				</observers>
			</customer_group_save_before>
		</events>
		<models>
			<core>
				<rewrite>
					<url>Typogento_Core_Model_Url</url>
					<store>Typogento_Core_Model_Store</store>
					<layout>Typogento_Core_Model_Layout</layout>
				</rewrite>
			</core>
			<customer>
				<rewrite>
					<customer>Typogento_Core_Model_Customer</customer>
				</rewrite>
			</customer>
			<typogento>
				<class>Typogento_Core_Model</class>
				<resourceModel>typogento_mysql4</resourceModel>
			</typogento>
			<typogento_mysql4>
				<class>Typogento_Core_Model_Mysql4</class>
				<entities>
					<typo3_frontend_user>
						<table>fe_users</table>
					</typo3_frontend_user>
					<typo3_frontend_group>
						<table>fe_groups</table>
					</typo3_frontend_group>
					<typo3_replication_link>
						<table>tx_typogento_replication_links</table>
					</typo3_replication_link>
				</entities>
			</typogento_mysql4>
		</models>
		<resources>
			<typogento_setup>
				<setup>
					<module>Typogento_Core</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>default_setup</use>
				</connection>
			</typogento_setup>
			<typogento_read>
				<connection>
					<active>1</active>
					<model>mysql4</model>
					<type>pdo_mysql</type>
				</connection>
			</typogento_read>
			<typogento_write>
				<connection>
					<use>typogento_read</use>
				</connection>
			</typogento_write>
		</resources>
		<blocks>
			<adminhtml>
				<rewrite>
					<customer_group_edit_form>Typogento_Core_Block_Customer_Edit_Form</customer_group_edit_form>
				</rewrite>
			</adminhtml>
		</blocks>
	</global>
	<frontend>
		<routers>
			<template>
				<use>standard</use>
				<args>
					<module>Typogento_Core</module>
					<frontName>typogento</frontName>
				</args>
			</template>
		</routers>
		<layout>
			<updates>
				<template>
					<file>wee_typogento.xml</file>
				</template>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
		<translate>
		<modules>
			<typogento>
				<files>
					<default>Typogento_Core.csv</default>
				</files>
			</typogento>
		</modules>
	</translate>
	</adminhtml>
	<default>
		<web>
			<url>
				<redirect_to_base>0</redirect_to_base>
			</url>
		</web>
		<typogento>
			<config>
				<direct_mage_access>1</direct_mage_access>
				<ua_regex></ua_regex>
				<redirect_url>/</redirect_url>
			</config>
		</typogento>
	</default>
</config>