<?xml version="1.0"?>
<config>
	<modules>
		<Typogento_Core>
			<version>0.5.4</version>
		</Typogento_Core>
	</modules>
	<global>
		<helpers>
			<typogento_core>
				<class>Typogento_Core_Helper</class>
			</typogento_core>
		</helpers>
		<events>
			<admin_system_config_changed_section_typogento>
				<observers>
					<typogento_core>
						<type>singleton</type>
						<class>Typogento_Core_Model_Observer</class>
						<method>adminSystemConfigChanged</method>
					</typogento_core>
				</observers>
			</admin_system_config_changed_section_typogento>
			<customer_login>
				<observers>
					<typogento_core>
						<type>singleton</type>
						<class>Typogento_Core_Model_Observer</class>
						<method>customerLogin</method>
					</typogento_core>
				</observers>
			</customer_login>
			<customer_logout>
				<observers>
					<typogento_core>
						<type>singleton</type>
						<class>Typogento_Core_Model_Observer</class>
						<method>customerLogout</method>
					</typogento_core>
				</observers>
			</customer_logout>
			<controller_action_predispatch>
				<observers>
					<typogento_core>
						<type>singleton</type>
						<class>Typogento_Core_Model_Observer</class>
						<method>controllerActionPredispatch</method>
					</typogento_core>
				</observers>
			</controller_action_predispatch>
		</events>
		<models>
			<core>
				<rewrite>
					<url>Typogento_Core_Model_Url</url>
					<store>Typogento_Core_Model_Store</store>
					<layout>Typogento_Core_Model_Layout</layout>
				</rewrite>
			</core>
			<typogento_core>
				<class>Typogento_Core_Model</class>
				<resourceModel>typogento_core_resource</resourceModel>
			</typogento_core>
			<typogento_core_resource>
				<class>Typogento_Core_Model_Resource</class>
			</typogento_core_resource>
		</models>
		<resources>
			<typogento_core_setup>
				<setup>
					<module>Typogento_Core</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>default_setup</use>
				</connection>
			</typogento_core_setup>
			<typogento_core_read>
				<connection>
					<active>1</active>
					<model>mysql4</model>
					<type>pdo_mysql</type>
				</connection>
			</typogento_core_read>
			<typogento_core_write>
				<connection>
					<use>typogento_core_read</use>
				</connection>
			</typogento_core_write>
		</resources>
		<blocks>
			<adminhtml>
				<rewrite>
					<customer_group_edit_form>Typogento_Core_Block_Customer_Edit_Form</customer_group_edit_form>
				</rewrite>
			</adminhtml>
		</blocks>
	</global>
	<adminhtml>
		<translate>
		<modules>
			<typogento_core>
				<files>
					<default>Typogento_Core.csv</default>
				</files>
			</typogento_core>
		</modules>
	</translate>
	</adminhtml>
	<default>
		<web>
			<url>
				<redirect_to_base>0</redirect_to_base>
			</url>
		</web>
		<typogento>
			<config>
				<direct_mage_access>1</direct_mage_access>
				<ua_regex></ua_regex>
				<redirect_url>/</redirect_url>
			</config>
		</typogento>
	</default>
</config>