<?xml version="1.0"?>
<config>
	<modules>
		<Typogento_Replication>
			<version>2.0.0</version>
		</Typogento_Replication>
	</modules>
	<global>
		<helpers>
			<typogento_replication>
				<class>Typogento_Replication_Helper</class>
			</typogento_replication>
		</helpers>
		<events>
			<customer_save_after>
				<observers>
					<typogento_replication>
						<type>singleton</type>
						<class>Typogento_Replication_Model_Observer</class>
						<method>customerSaveAfter</method>
					</typogento_replication>
				</observers>
			</customer_save_after>
			<customer_address_save_after>
				<observers>
					<typogento_replication>
						<type>singleton</type>
						<class>Typogento_Replication_Model_Observer</class>
						<method>customerAddressSaveAfter</method>
					</typogento_replication>
				</observers>
			</customer_address_save_after>
			<customer_login>
				<observers>
					<typogento_replication>
						<type>singleton</type>
						<class>Typogento_Replication_Model_Observer</class>
						<method>customerLogin</method>
					</typogento_replication>
				</observers>
			</customer_login>
			<typogento_replication_manager_initialize>
				<observers>
					<typogento_replication>
						<type>singleton</type>
						<class>Typogento_Replication_Model_Observer</class>
						<method>replicationManagerInitialize</method>
					</typogento_replication>
				</observers>
			</typogento_replication_manager_initialize>
		</events>
		<models>
			<typogento_replication>
				<class>Typogento_Replication_Model</class>
				<resourceModel>typogento_replication_resource</resourceModel>
			</typogento_replication>
			<typogento_replication_resource>
				<class>Typogento_Replication_Model_Resource</class>
				<entities>
					<typo3_frontend_user>
						<table>fe_users</table>
					</typo3_frontend_user>
					<typo3_frontend_group>
						<table>fe_groups</table>
					</typo3_frontend_group>
					<link>
						<table>tx_typogento_replication_links</table>
					</link>
				</entities>
			</typogento_replication_resource>
		</models>
		<blocks>
			<adminhtml>
				<rewrite>
					<customer_group_edit_form>Typogento_Replication_Block_Customer_Edit_Form</customer_group_edit_form>
				</rewrite>
			</adminhtml>
		</blocks>
	</global>
	<frontend>
		<translate>
			<modules>
				<Typogento_Replication>
					<files>
						<default>Typogento_Replication.csv</default>
					</files>
				</Typogento_Replication>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<Typogento_Replication>
					<files>
						<default>Typogento_Replication.csv</default>
					</files>
				</Typogento_Replication>
			</modules>
		</translate>
	</adminhtml>
</config>